body {
	font-family: 'Cantarell', sans-serif;
	font-size: 14px;
}

h1, h2, h3, h4 {
	font-family: 'Signika Negative', sans-serif;
}

h1 {
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 0.076em;
	word-spacing: 0em;
	line-height: 1.4;
}

h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
}


#header {
	min-height: 250px;
	color: #f1744d;
	position: relative;
	
}

#header-background {
	background-repeat: repeat-x;
	background-position: bottom;
	min-height: 250px;
	background-image: url(../img/skyline-silhouette-250px-orange.gif);
	position: absolute;
	bottom: 0px;
	z-index: 	-10;
}

#header-content {
	padding-bottom: 190px;
	width: 90%;
	margin: auto;
}


#main {
	position: relative;
	min-height: 500px;
}


#main-background {
	background-image: url(../img/greyscale-map-peach.jpg);
	min-height: 600px;
	background-repeat:repeat-x;
	position: absolute;
	z-index: -10;
	background-size: cover;
}


#main-content {
	padding-top: 50px;
	width: 90%;
	margin: auto;
}
.even{
	min-height:170px;
}
.centered {
	text-align: center;
}

.btn-xlarge {
	padding: 20px 60px;
	font-size: 31px;
}

#header b {
	background-color: #f6af9a;
	color: #fff;
	padding: 0 10px 0 10px;
}

#header h1 {
	line-height: 66px;
	padding-top: 30px;
	font-size: 52px;
	color:#564945;
}

#main h2 {
	font-size: 31px;
	padding-top: 30px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#main h3{
	color:#564945;
}
#main.row-fluid{
	background:#f8b9a6;
}

h2.level1 {
	width: 30%;
	margin: auto
}

h2.level2 {
	width: 40%;
	margin: auto
}

h2.level3 {
	width: 50%;
	margin: auto
}

h2.level4 {
	width: 60%;
	margin: auto
}

.column-info {
	margin-top: 50px;
	width: 90%;
	margin: auto;
}

#detail-section {
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}

#detail-section p {
	font-size: 16px;
}

#footer {
	background-color: #333;
	color: #FFF;
	padding-top: 50px;
	padding-bottom: 50px;
}

#footer-content {
	margin: auto;
	width: 90%;
}

#bus-info {
	text-align: center;
	padding-top: 50px;
}

.press-logo {
	height: 50px;
	padding: 10px;
}



#psst-content {
	width: 90%;
	margin: auto;
}

#psst-button {
	margin-right: 60px;
}
.btn-peach {
  background-color: hsl(13, 72%, 69%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4c9bd", endColorstr="#e88f77");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f4c9bd), to(#e88f77));
  background-image: -moz-linear-gradient(top, #f4c9bd, #e88f77);
  background-image: -ms-linear-gradient(top, #f4c9bd, #e88f77);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4c9bd), color-stop(100%, #e88f77));
  background-image: -webkit-linear-gradient(top, #f4c9bd, #e88f77);
  background-image: -o-linear-gradient(top, #f4c9bd, #e88f77);
  background-image: linear-gradient(#f4c9bd, #e88f77);
  border-color: #e88f77 #e88f77 hsl(13, 72%, 65%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
  -webkit-font-smoothing: antialiased;
}
